/*to format dropdown State and Country*/
select {
	margin-left:40px;
    padding: 6px 20px;
	border: 1px solid black;
    border-radius: 4px;
}

/*changes the color of submit button
  when mouse pointer hovers over it*/
input[type=submit]:hover {
    background-color: #007c06;
}
/*format submit button*/
input[type=submit]
{
	width:20%;
	background-color: #01b20a;
	color: white;
	border-radius: 10px;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
}

/*to adjust all labels*/
.label{
	margin-left:40px;	
}

/*when an input field is focussed*/
.input-field:focus{
background-color:#febfff;	
}
/*when mouse pointer hovers over 
  an input field*/
.input-field:hover{	
    border: 1px solid #f2002c;
}
/*to format all input fields*/
.input-field {
	width:25%;
	margin:2px 40px;
    padding: 12px 20px;
    border-radius: 5px;
	border: 1px solid #000000;
    box-sizing: border-box;
}

/*when textarea is focussed*/
.address-field:focus{
background-color:#febfff;	
}
/*when mouse pointer hovers over 
   textarea*/
.address-field:hover{
	border-radius: 5px;
    border: 1px solid red;
}
/*to format textarea*/
.address-field{
	border-radius: 5px;
	margin:2px 40px;
	border: 1px solid #000000;
	height: 75px; width:30%
}

/*set margins, fonts*/
body{
font-family: 'Varela Round', sans-serif;
margin-left:200px;
margin-top:50px;
}

/*align header to center*/
header{
	text-align: center;
}

/*to mark * before mandatory fields*/
.mandatory:before{
     content:"*" ;
     color:red   
}
